{% extends 'Home/base.html' %}

{% load static %}

{% block title%} Search {% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS/search.css' %}" type="text/css" >

<style>
    .friend-request-notification {
        display: flex;
        align-items: center;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: white;
      }
      
      .notification-profile-pic {
        margin-right: 10px;
        position: relative;
      }
      
      .notification-profile-pic img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
      }

      span.times{
        top: -.4rem;
        position: absolute;
        left: -.7rem;
        font-size: 1rem;
        font-weight: 600;
        color: rgb(227 72 188);
      }
      
      .notification-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
      }
      
      .notification-text {
        margin-bottom: 5px;
      }
      
      .notification-text  strong{
        font-weight: bold;
        margin: 0;
      }
      .notification-text  p{
        font-weight: 300;
        margin: 0;
      }
      
      .notification-time {
        font-size: 15px;
      }
      
      .buttons {
        display: flex;
        gap: 10px;
      }
      
      .no-notifications {
        text-align: center;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
      }
      
      .no-notifications p {
        margin: 0;
      }
      .time{
        float: left;
        font-weight: 300;

      }
      .button-success {
        background-color: #28a745;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        border-radius: 3px;
        cursor: pointer;
      }
      
      .button-danger {
        background-color: #dc3545;
        border: none;
        color: white;
        padding: 5px 10px;
        text-align: center;
      }
      a{
        list-style: none;
        color:rgb(74 74 74);
      }
      h1.termheader{
        width: 100%;
        text-align-last: center;
        padding: 0  0 1.5rem 0;
        font-size: 1.2rem;
    }
    p.terms{
        text-align-last: center;
    }

</style>
{% endblock %}



{% block content %}
<div class="bottom">
  <h1 class="termheader">Chats</h1>
    {% if friendList%}
        {% for users in friendList %}
        <a href="{% url 'sendMessage' user=users.user.username %}">
        <div class="friend-request-notification">
        <div class="notification-profile-pic">
            <img src="{{users.profilepic.url}}" alt="{{user.sender.user_id.profilepic.url}} profile picture">
        </div>
        <div class="notification-details">
            <div class="notification-text">
            <p><strong>{{users.user.username}}</strong></p>
            
            </div>
            
        </div>
        </div>
    </a>
        {% endfor %}
    
    
    {% else %}
        <li>No Friend Found</li>
    {% endif %}

    </ul>
</div>
{% endblock %} 