{% extends 'Home/base.html' %}

{% load static %}

{% block title%} Search {% endblock title %}
{% block head %}
<link rel="stylesheet" href="{% static 'CSS/search.css' %}" type="text/css" >
<style>
    h1.termheader{
        width: 100%;
        text-align-last: center;
        padding: .6rem .8rem;
    }
    p.terms{
        text-align-last: center;
    }
</style>

{% endblock %}



{% block content %}
<div class="bottom">

    <h1 class="termheader">Privacy Policy</h1>
<p class="terms">
  Thank you for joining one of the world’s largest online dating platforms. We at madly cupid Social Network  (“madly cupid”, "Service" “we”, “us”) respect your privacy and want you to understand how we collect, use, and share data about you. This Privacy Policy covers our data collection practices and describes your rights to access, correct, or restrict our use of your personal data; in plain language, keeping legal and technical jargon to a minimum. Your privacy is at the core of the way we design and build our Services and products you know and love so that you can fully trust them and focus on building meaningful connections.

  Unless we link to a different policy or state otherwise, this Privacy Policy applies when you visit or use the madly cupid website, mobile applications, APIs, or related services (the “Services”). </p>
  Account Data: In order to use certain features (registering for an account), you need to create a user account. When you create or update your account, we collect and store the data you provide, like your email address, username, gender, and date of birth, and assign you a unique identifying number (“Account Data”). We process your email address and once the email is confirmed we send transactional emails depending on specific actions. Such as; when someone sends/ accepts your friendship request, sends you a message, visits and/ or likes your profile, comments on your photo, etc. These emails are to notify you of said actions and are separate from email marketing and promotional emails. If you want to opt-out of these emails you can do so easily from your account settings. Go to Account settings--> Email Notifications. From there you may disable the types of emails you would like to stop receiving. 
  Profile Data: You can also choose to provide profile information like a photo, bio (status and info), name, sexual interests, location, physical appearance, interests, education info, verification info (phone, email, Facebook, Twitter, Instagram, and Google, etc.), or other data. Your Profile Data will be publicly viewable by others unless you change your privacy settings from app settings. To add certain content, like pictures or videos, you may allow us to access your camera or photo album. Some of the information you choose to provide us may be considered “special” or “sensitive” in certain jurisdictions, for example, your racial or ethnic origins, sexual orientation, and religious beliefs. By choosing to provide this information, you consent to our processing of that information.
  Usage Data: When you use our Services and features, we collect certain data including; messages, content published, chats, likes, visits, friends, photos, videos, gifts, and other user data as part of the operation of the Services and moderation.
  Shared Content: Parts of the Services let you interact with other users or share content publicly, including by posting a status on your own or others’ wall, gifts you receive, awards you receive, stories you post and the data you provided in your profile. Such shared content may be publicly viewable by others depending on where it is posted.
  Data About Your Accounts on Other Services:  We may obtain certain information through your social media or other online accounts if they are connected to your account in our Services. If you login to our Services via Facebook or another third-party platform, we ask for your permission to access certain information about that other account. For example, depending on the platform or service we may collect your name, profile picture, login email address, location, gender, and birthday.
  Those platforms and services make information available to us through their APIs. The information we receive depends on what information you (via your privacy settings) or the platform or service decide to give us.
  If you access or use our Services through a third-party platform or service, or click on any third-party links, the collection, use, and sharing of your data will also be subject to the privacy policies and other agreements of that third party.
  Data About Paid Service:  All our paid service is through iOS or Android platforms. We only receive a receipt of your transaction provided by these platforms. For security reasons, we do not collect or store sensitive cardholder data, such as full credit card numbers or card authentication data.
  Communications and Support: If you contact us for support or to report a problem or concern (regardless of whether you have created an account), we collect and store your contact information, messages, and other data about you like your name, email address, location, operating system, IP address, and any other data you provide or that we collect through automated means (which we cover below). We use this data to respond to you and research your question or concern, in accordance with this Privacy Policy. If you ask us to communicate with or otherwise process information of other people (for example, if you ask us to send an email on your behalf to one of your friends), we collect the information about others that you give us in order to complete your request.
  Sensitive Information: Please be careful about posting sensitive details about yourself on your Profile such as your religious denomination and health details. While you may voluntarily provide this information to us when you create your Profile, including your sexual preferences and ethnic background, there is no requirement to do so. Please remember that photographs or any video clips that you post on our Services may reveal these kinds of sensitive personal data. Where you do upload and choose to tell us sensitive data about yourself, you are explicitly consenting to our processing your information and making this public to other users.
</div>
{% endblock %} 